$width:800px;
$height:800px;
$backgroundColor: rgb(154, 152, 152);
$squareColor:rgb(255, 255, 255);

body {
    background-color: $backgroundColor;


    
}

.square {
    width: $width;
    height: $height;
    background-color:$squareColor;
   
}

