$primary-color: #4c4746;


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  
  
  .app-container {
    max-width: auto;
    margin: 0 auto;
    
  }
  .book-card-container {
    flex: 1; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: auto; 
    max-height: 420px;
    overflow-y: auto;
    
  }
  
  .book-card {

    margin-bottom: 20px;
  }
  
  }

  @media (max-width: 410px) {
    .book-card-container {
      margin: 0.5rem auto;
      width: 100%;
    }
   }
  