$width:800px;
$height:600px;
$backgroundColor: rgb(154, 152, 152);
$squareColor:rgb(255, 255, 255);

#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}


body {
    
    background-color: $backgroundColor;
    


    
}

.square { 
    width: $width;
    height: $height;
    background-color:$squareColor;
   
}

#section {
    padding: 10rem;

}

